.container-1 {
    display: flex;
}

.image {
    width: 50%;
}

img {
    width: 30rem;
    height: 30rem;
    margin: 0%;
}

.about-txt {
    width: 50%;
    position: relative;
}

.about-txt .hire-me {
    margin-top: 50px;
    text-decoration: capitalize;
    color: #05314e;
    font-size: 30px;
    margin-top: 90px;
}

.skills {
    width: 50%;
}

.skill-name {
    font-size: 12px;
    font-weight: 700;
    color: #05314e;
    margin: 20px 0;
}

.skill-bar {
    height: 10px;
    background: rgb(129, 125, 125);
    border-radius: 4px;
}

.skill-per {
    height: 10px;
    background: #198686;
    border-radius: 4px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #fff;
    border-radius: 5px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "  ";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.about .about-us-header {
    color: #05314e;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}

.about-txt .reason-to-hire {
    color: #05314e;
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3em;
    line-height: 1.5em;
}

@media (max-width:1280) {
    .skills {
        display: block;
        font-size: 10px;
    }

    .btn a {
        display: block;
        font-size: 15px;
    }


}

@media (min-width:858px) {
    .about-txt {
        padding: 20px;
    }

    .skills {
        display: block;
        font-size: 10px;
    }

    .btn a {
        display: block;
        font-size: 15px;
    }
}