.container-4 {
    display: flex;
    margin: auto;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.486);
    flex-wrap: wrap;
    padding: 50px;

}
.container-4 h1::after {
    content: "";
    width: 100px;
    height: 5px;
    background: #198686;
    display: flex;
    margin: auto;
    text-align: center;
}

.container-4 .table {
    background: #fff;
    width: calc(33% - 20px);
    padding: 10px;
    position: relative;
}

.table .price-area {
    line-height: 5px;
    justify-content: center;
}

.price-area .area .text {
    height: 100%;
    width: 100%;
    color: #198686;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    line-height: 30px;
}

.price-area .package-name {
    color: #05314e;
    padding: 5px;
}

.area .txt {
    color: #05314e;
    line-height: 40px;

}

.feature li {
    list-style: none;
    margin-bottom: 15px;
    display: flex;
    gap: 1.5rem;
}

.feature li .list-name {
    font-size: 15px;
    color: #05314e;

}

.feature li .icon.check {
    color: #1aac3c;
}

.feature li .icon.cross {
    color: #eb1010;
}

.table .btn-plan {
    justify-content: center;
}

.table .btn-plan button {
    color: #198686;
    height: 50px;
    width: 60%;
    border: 2px solid #05314e;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
}

.table .btn-plan button:hover {
    background-color: #198686;
    color: #fff;
}

@media (max-width:1028px) {
    .container-4 .table {
        width: calc(50%, -20px);
        margin-bottom: 40px;
    }
}
@media (max-width:790px){
    .container-4{
        margin-top: 4rem;
    }
}

@media (max-width:698px) {
    .container-4 .table {
        width: 100%;
    }
}

.table .ribbon {
    height: 80px;
    width: 100px;
    position: absolute;
    top: 0px;
    right: 10px;
    overflow: hidden;
}

.table .ribbon span {
    position: absolute;
    background: #198686;
    width: 150px;
    padding: 0 0;
    color: #fff;
    text-align: center;
    top: 30px;
    left: 0px;
    transform: rotate(45deg);
    overflow: hidden;
}

.btn-index a {
    background-color: #198686;
    color: #fff;
    height: 25px;
    width: 10rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
}